.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
}
body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}